<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBsCXXmwAfjB5Su-LxPqEGbAtMJcW8KSyI</string>
	<key>GCM_SENDER_ID</key>
	<string>895312254291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.medlife.vendor.medlifeVendor</string>
	<key>PROJECT_ID</key>
	<string>medlife-546ae</string>
	<key>STORAGE_BUCKET</key>
	<string>medlife-546ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:895312254291:ios:1f2da1987127d8d3e2fda6</string>
</dict>
</plist>